/*
* Hoja de estilo para página info (Versión Split)
*/

/********************** INSTAL FONTS ********************/
@font-face {
  font-family: 'avarabold';
  src: url('fonts/AvaraBold/avara-bold-webfont.woff2') format('woff2'),
    url('fonts/AvaraBold/avara-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/********************** CONTAINER SPLIT CONTENT ********************/
.full-height {
  height: 100%;
}

.info-container {
  display: flex;
  align-items: center;
}

.about,
.radi-family {
  margin: 20px 50px 0px 15px;
}

.left-content {
  font-family: 'avara';
  width: 50%;
  border-right: solid 1.5px black;
}

.right-content {
  justify-content: left;
}

.radi-family-mobile {
  display: none;
}

/********************** TABLE CONTACT-INFO ********************/

.title {
  border-collapse: separate;
  border-spacing: 500px;
}
.contact-info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: lighter !important;
}

th {
  text-align: left;
  width: 50px;
}

/********************** MEDIA QUERIES ********************/

@media screen and (max-width: 800px) {
  .info-container {
    display: flex;
    flex-direction: column;
    flex: 100%;
    max-width: 100%;
  }
  .full-height {
    height: auto;
  }
  .left-content {
    font-family: 'avara';
    width: auto;
    border-right: none;
    border-bottom: solid 1.5px black;
  }

  table {
    display: none;
  }
  .radi-family-mobile {
    display: inline;
  }
  .credencials {
    margin: 20px 50px 0px 15px;
  }
}

@media screen and (max-width: 600px) {
  .info-container {
    display: flex;
    flex-direction: column;
    flex: 100%;
    max-width: 100%;
  }
  .full-height {
    height: auto;
  }
  .left-content {
    font-family: 'avara';
    width: auto;
    border-right: none;
    border-bottom: solid 1.5px black;
  }
  .radi-family {
    display: none;
  }
  .radi-family-mobile {
    display: inline;
  }
  .credencials {
    margin: 20px 50px 0px 15px;
  }
}
