/********************** INSTAL FONTS ********************/
@font-face {
  font-family: 'avarabold';
  src: url('fonts/AvaraBold/avara-bold-webfont.woff2') format('woff2'),
    url('fonts/AvaraBold/avara-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.info-container {
  font-family: 'avarabold';
  width: 200vw;
  height: 200vh;
  left: -50vw;
  position: fixed;
}

.first {
  border: 1.5px black solid;

  transform: rotate(150deg);
  transform-origin: top center;
}

.second {
  border: 1.5px black solid;
  transform: rotate(150deg);
  transform-origin: top center;
}

.fourth {
  width: 50%;
  border-right: solid 1.5px black;
}
