/*
* Random Main CSS of the site
*/

/********************** INSTAL FONTS ********************/

/********************** MAIN CSS ********************/

body {
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: Arial, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-size: 13pt;
}
