body{
    margin:0;
}
/* 
.video_bg {
    overflow: hidden;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.container {
    margin: auto; 
} */

.fullscreen_video_wrap {
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fullscreen_video_wrap video {
    min-height: 150%;
    background-color: black;
}

@keyframes fadeIn {
    from { opacity: 0,3; }
    to   { opacity: 0,9; }
}
.vid{
    animation: fadeIn 2s;
}



.intro {
    z-index: 1;
    position: fixed;
    left: 30px;
    top: 40px;

}

.title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 17px;
    color: white;
}

.corps{
font-family: 'Times New Roman', Times, serif;
font-size: 14px;
color: white;
}

/* .blend {
    mix-blend-mode: exclusion;
  } */

h2 {
    mix-blend-mode: difference;
  color: #000;
  font-weight: 100;
}