body{
    margin:0;
}

.fullscreen_video_wrap {
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fullscreen_video_wrap video {
    min-height: 150%;
    background-color: black;
}

@keyframes fadeIn {
    from { opacity: 0,3; }
    to   { opacity: 0,9; }
}
.vid{
    animation: fadeIn 2s;
}

.intro {
    z-index: 1;
    position: fixed;
    left: 30px;
    top: 40px;

}

.title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 17px;
    color: white;
}

.corps{
font-family: 'Times New Roman', Times, serif;
font-size: 15px;
color: white;
}

h2 {
    mix-blend-mode: difference;
  color: #000;
  font-weight: 100;
}

.text-description {
    font-family: 'Helvetica Neue';
}

@media screen and (max-width: 400px) {
    .intro {
        z-index: 1;
        position: fixed;
        left: 15px;
        top: 40px;
    }
}