body{
    margin:0;
}

.fullscreen_video_wrap {
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fullscreen_video_wrap video {
    min-height: 150%;
    background-color: black;
}

@keyframes fadeIn {
    from { opacity: 0,3; }
    to   { opacity: 0,9; }
}
.vid{
    animation: fadeIn 2s;
}

.intro {
    z-index: 1;
    position: fixed;
    left: 30px;
    top: 40px;
    line-height: 2;

}

.firstparagraph {
    line-height: 0px;
}
.secondparagraph {
    line-height: 17px;
}

.title{
    font-family: Arial, Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 0px;
    color: white;
}

.corps{
font-family: 'Times New Roman', Times, serif;
font-size: 15px;
color: white;
}

h2 {
    mix-blend-mode: difference;
  color: #000;
  font-weight: 100;
}


.description{
    height: 100vh;
    position: fixed;
    z-index: 15;
    width: 100%;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 40px;
     }

.text_description{
        margin-right: 16px;
        font-family: Arial, Helvetica Neue, sans-serif;
        font-style: italic;
    }
@media screen and (max-width: 414px) {
        .description{ margin-right: 10px;
            margin-left: 10px;
        bottom: 30px;
        justify-content: left;
}

.text_description {
        margin-right: 10px;
}
.intro {
    z-index: 1;
    position: fixed;
    left: 15px;
    top: 40px;
}
}
